.bankIdBtn{
    position: absolute;
    border: none;
    margin-top: 320px;
    margin-left: -155px;
    
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 310px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    
}

.bankIdImg {
    position: absolute;
    margin-left: -100px;
    margin-top: -5px;
}
.moreOptionsBtn {
    position: absolute;
    border: 1px solid black;
    margin-top: 380px;
    margin-left: -155px;
    
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: white;
    width: 310px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
}